<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="tool">
        <img src="assets/arrow-left.png" class="back" (click)="goBack()">
        <img class="logo" src="assets/logo.png">
        <img class="white-line" src="assets/white-line.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid class="main">
    <ion-row>
      <ion-col class="chart-text">
        <ion-label>
          <h4 class="chart-header-text">
            ÇEVİR KAZAN
          </h4>
          <p class="chart-sub-text">
            Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. 
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="translation-right">
        ÇEVİRME HAKKI: <b>2</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dots">
        <img src="assets/chart.png" style="margin-top: 45%;">
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="main">
    <ion-row>
      <ion-col class="chart-text">
        <ion-label>
          <h4 class="chart-header-text">
            ÇARKIFELEK<br> HAKKINIZ İÇİN KALAN SÜRE
          </h4>
          <p class="chart-sub-text">
            Lorem Ipsum is simply dummy text of the
            printing and typesetting industry.
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="dots">
        <img src="assets/mini-chart.png" style="margin-top: 110px;">
      </ion-col>
    </ion-row>

    <ion-row style="padding: 25px 0 0 10px;">
      <ion-col size=3 offset=1>
        <div class="aligncenter">
          <div class="image">
            <svg id="svg" viewbox="0 0 100 100">
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#FFFFFF" stroke-dasharray="190,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#73BE44" stroke-dasharray="47.5,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <text class="bigtext" x="50" y="36" text-anchor="middle" dy="7" font-size="20">45</text>
              <text class="bigtext2" x="50" y="100" text-anchor="middle" dy="7" font-size="20">Gün</text>
            </svg>
          </div>
        </div>
      </ion-col>

      <ion-col size=3>
        <div class="aligncenter">
          <div class="image">
            <svg id="svg" viewbox="0 0 100 100">
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#FFFFFF" stroke-dasharray="190,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#73BE44" stroke-dasharray="47.5,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <text class="bigtext" x="50" y="36" text-anchor="middle" dy="7" font-size="20">45</text>
              <text class="bigtext2" x="50" y="100" text-anchor="middle" dy="7" font-size="20">Saat</text>
            </svg>
          </div>
        </div>
      </ion-col>

      <ion-col size=3>
        <div class="aligncenter">
          <div class="image">
            <svg id="svg" viewbox="0 0 100 100">
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#FFFFFF" stroke-dasharray="190,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <path fill="none" stroke-linecap="round" stroke-width="7" stroke="#73BE44" stroke-dasharray="47.5,190" d="M50 5
                         a 30 30 0 0 1 0 60
                         a 30 30 0 0 1 0 -60" />
              <text class="bigtext" x="50" y="36" text-anchor="middle" dy="7" font-size="20">45</text>
              <text class="bigtext2" x="50" y="100" text-anchor="middle" dy="7" font-size="20">Dakika</text>
            </svg>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>