<ion-content>
  <ion-grid>
    <ion-row class="mt-25">
      <ion-col class="text-center">
        <img src="assets/circle-photo.png">
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: -40px;">
      <ion-col class="text-center">
        <ion-label class="error-header">
          DİKKAT!
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center ml-15 mr-15">
        <ion-label class="error-subtitle">
          <p>
            Bu karakteri seçebilmeniz için
            tüm rozetleri tamamlamanız
            gerekmektedir.
          </p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="mt-20">
      <ion-col class="ml-30 mr-30">
        <ion-button class="new-code" expand="block">
          KARAKTERİ ONAYLA
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>