h4{
    color: #3A4759;
    font-family: 'Futura';
    font-size: 26px;
    text-align: center;
    padding: 40px 0 0 0;
}
p{
    color:#9AA0A6;
    font-family: 'Futura Normal';
    font-size: 14px;
    text-align: center;
    padding: 10px 25px 0 25px;
}
.icon{
    text-align: center;
}
.upload-btn{
    color: #fff;
    font-family: 'Futura Normal';
    font-weight: bold;
    font-size: 15px;
    height: 60px;
    --border-radius: 100px 100px 7px 7px;
}
.btn{
    padding: 60px 25px;
}