<ion-content>
  <ion-grid>
    <ion-row class="mt-25">
      <ion-col class="text-center">
        <img src="assets/circle-photo.png">
      </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: -40px;"> 
      <ion-col class="text-center">
        <ion-label class="error-header">
          Bilgileriniz Eksik <br>veya Hatalı
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="text-center ml-15 mr-15">
        <ion-label class="error-subtitle">
          Telefon numaranızı yeniden girebilir veya <br> Tekrar kod gönderebilirsiniz.
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="mt-35">
      <ion-col class="ml-30 mr-30">
        <ion-button class="new-code" expand="block">
          YENİ KOD İSTE
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ml-30 mr-30">
        <ion-button class="change-phone" expand="block">
          TELEFON NUMARAMI DEĞİŞTİR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
