.text-center{ text-align: center; }
.ml-15{ margin-right: 15px; }
.ml-15{ margin-left: 15px; }
.ml-30{ margin-right: 30px; }
.ml-30{ margin-left: 30px; }
.mt-35{ margin-top: 35px; }
.mt-25{ margin-top: 25px; }

.error-header{
    color: red;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Futura';
}

.error-subtitle{
    color: #9AA0A6;
    font-family: 'Futura Normal';
    font-size: 13px;
}

.new-code{
    --background: linear-gradient(90deg, rgba(234,29,37,1) 0%,  rgba(244,127,33,1) 100%);
    --background-activated: linear-gradient(90deg, rgba(234,29,37,1) 0%,  rgba(244,127,33,1) 100%);
    --border-radius: 50px 50px 7px 7px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Futura Light';
}

.change-phone{
    --background: transparent;
    --background-activated: transparent;
    color:#3A4759;
    height: 40px;
    border:1px solid #9AA0A6;
    border-radius:  7px 7px 50px 50px;
    font-family: 'Futura';
    font-size: 13px;
}