.dismiss-icon{
    text-align: right; font-size: xx-large; color:#3A4759
}
.text-center{
    text-align: center;
}
.fawori-header-img{
    margin-top: -50px;
}
.fawori-header-text{
    text-align: center; padding: 0 10%; margin-top: -40px;
}
.fawori-big-text{
    font-family: 'Futura'; font-size: 26px; color:#3A4759
}
.fawori-sub-text{
    font-family: 'Futura Normal'; font-size: 14px; color:#9AA0A6;
}
.card{
    background-color: #fff; border-radius: 10px; margin: 5%;  box-shadow: 0px 2px 25px -5px gray;
}
.card-date{
    font-family: 'Futura'; font-size: 10px; color:#9AA0A6; padding: 5% 0 1% 5%;
}
.card-sub-text{
    font-family: 'Futura Normal'; font-size: 12px; color:#3A4759; padding: 0 0 5% 5%;
}
.card-icon{
    margin: auto;
}