.dismiss-icon{
    text-align: right; font-size: xx-large; color:#3A4759
}
.text-center{
    text-align: center;
}
.fawori-header-img{
    margin-top: -50px;
}
.fawori-header-text{
    text-align: center; padding: 0 10%; margin-top: -40px; margin-bottom: 5%;
}
.fawori-big-text{
    font-family: 'Futura'; font-size: 26px; color:#3A4759
}
.fawori-sub-text{
    font-family: 'Futura Normal'; font-size: 14px; color:#9AA0A6;
}
ion-button.main{
    font-family: 'Futura';
    font-size: 15px;
    --background: linear-gradient(90deg, rgba(234,29,37,1) 0%,  rgba(244,127,33,1) 100%);
    --background-activated: linear-gradient(90deg, rgba(234,29,37,1) 0%,  rgba(244,127,33,1) 100%);
    --border-radius: 50px 50px 7px 7px;
    height: 60px;
    margin: 0 5% 5% 5%;
}
p{
    font-family: 'Futura Normal';
    font-size: 16px;
}
ion-input{
    font-family: 'Futura Light';
}
ion-item{
    padding: 0 3%;
    margin-left: -20px;
}
.gift-item h3{font-size:0.8rem;margin-top:0px}
.gift-item h2{font-size:1.2rem;margin-top:0px}
